
figure {
    width: 100%;
   /* border: black solid 1px; */
}    
figure img {
    max-width: 100%; 
}

        /* Style for the container */
        .container {
            position: relative;
            text-align: center;
        }

        /* Style for the image */
        .mainimage {
            width: 100%; /* Set the image width as needed */
        }

        /* Style for the text overlay */
        .text-overlay {
            position: absolute;
            top: 30%; /* Adjust this value to vertically 10% the text */
            left: 50%; /* Adjust this value to horizontally center the text */
            transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
            background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
            color: white; /* Text color */
            font-size: 1rem;
            padding: 10px; /* Adjust the padding as needed */
        }