.main {
margin: 1%;
}

.searchTerm {
    width: 220px;
    height: 45px;
    border-top: 1px rgb(17, 65, 239) solid;
    border-bottom: 4px rgb(14, 55, 203) solid;
    border-left: none;
    border-right: none;
    background-color: rgb(245, 246, 247);
    font-weight: 700;
    padding: 5px;
    margin-bottom: 5px;
}

.searchTerm:hover{
    background-color: rgb(238, 238, 238);
    border-bottom: 4px rgb(14, 55, 203) dashed;
    border-top: 2px rgb(17, 65, 239) solid;
}

.searchTerm:focus{
    outline: none;
    background-color: rgb(231, 232, 233);
}







/* Desktop CSS rules */ 
@media only screen and (min-width: 769px) {
    .main {
        display: flex;
        flex-direction: row;   
    }
    .majakkalista {
        margin-left: 1%;
    }


    }

