
<section class="main">

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/meriradionumerot">Meriradionumerot</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/">Alusrekisteri</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signaaliliput">Signaaliliput</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" disabled href="#">Solmut</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" disabled href="#">Majakat</a>
      </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>

</section>