
<section class="main">

<ul class="nav nav-tabs">
  <!--
    <li class="nav-item">
      <a class="nav-link" routerLink="/meriradio">Meriradionumerot</a>
    </li>
    -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/meriradionumerot">Meriradionumerot</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/alusrekisteri">Alusrekisteri</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signaaliliput">Signaaliliput</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link disabled" disabled href="#">Solmut</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" disabled href="#">Majakat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" disabled href="#">Lokikirja</a>
      </li>
    <li class="nav-item">
      <a class="nav-link disabled">I'm Disabled link > .NET22S Jarno</a>
    </li>
  </ul>
</section>