.main {
    margin: 1%;
}

.card {
    margin-bottom: 1%;
    width: 20rem;
}

.btn {
    border: 0.5px rgb(17, 16, 16) solid;
}

.btn-group { 
    width: 20rem;
    margin-bottom: 5px;
}

mat-icon {
    padding-top: 2px;
}

/* Mobile CSS rules */ 
@media only screen and (max-width: 425px) 
{ 
    .card, .btn-group{
        margin-bottom: 1%;
        width: 100%;
    }

 }

