
<section class="main">
    <h1>{{pageTitle}}</h1>
    <p>Datan tuottaa Traficom, päivitys kerran päivässä.</p>

    <p *ngIf="alusdetails"></p>

    <div class="btn-group" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary" (click)="goPrevious()"><mat-icon aria-hidden="false" fontIcon="remove_circle_outline"></mat-icon></button>
        <button class="btn btn-outline-secondary"
        (click)='goBack()'>
        Takaisin alusrekisteriin
        </button>
        <button type="button" class="btn btn-secondary" (click)="goNext()"><mat-icon aria-hidden="false" fontIcon="add_circle_outline"></mat-icon></button>
      </div>

    
    <div class="card">
        <div class="card-header">
            <p class="card-text"><small class="text-body-secondary">Aluksen ID: {{alusdetails?.ID}}</small></p>

            <h1>{{alusdetails?.nimi}}</h1>
          </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Tilakoodi: {{alusdetails?.Tilakoodi}}</li>
          <li class="list-group-item">Ensirekisteröintipäivä: {{alusdetails?.Ensirekisterointipvm}}</li>
          <li class="list-group-item">Rakennuspaikka: {{alusdetails?.Rakennuspaikka}}</li>
          <li class="list-group-item">Aluksen satamapaikka: {{alusdetails?.aluksen_satamapaikka}}</li>
          <li class="list-group-item">Kantavuus: {{alusdetails?.Kantavuus}} t</li>
          <li class="list-group-item">Jääluokkakoodi: {{alusdetails?.JaaluokkaKoodi}}</li>
          <li class="list-group-item">Nettovetoisuus: {{alusdetails?.Nettovetoisuus}} t</li>
          <li class="list-group-item">Bruttovetoisuus: {{alusdetails?.Bruttovetoisuus}} t</li>
          <li class="list-group-item">Pituus: {{alusdetails?.Pituus}} m</li>
          <li class="list-group-item">Mallisyväys: {{alusdetails?.Mallisyvays}} m</li>
          <li class="list-group-item">Mallikorkeus: {{alusdetails?.Mallikorkeus}} m</li>
          <li class="list-group-item">Leveys: {{alusdetails?.Leveys}} m</li>



        </ul>
        <div class="card-body">
            <p class="card-text"><small class="text-body-secondary">Alus id: {{alusdetails?.alus_id}}</small></p>
        </div>
      </div>



</section>