
<br><br><br>
<br><br><br>
<br><br><br>

<section class="infotable">

    <table *ngFor="let id of [1]; let i = index;" class="table table-striped border-dark">
    
        <thead>
        <tr>
          <!-- <th class="id-kapea">Aluksen ID</th> --> 
            <th>Aluksen nimi</th>
            <th>Aluksen tunnus</th>
            <th>Aluksen meriradio nro</th>
        </tr>
        </thead>
        <tbody>
        <tr>
         <!--  <td><li *ngFor="let x of boatInfo.value | paginate: {itemsPerPage: 30, currentPage: p[i]}">{{ x.ID }}</li></td> --> 
            <td><li *ngFor="let x of boatInfo.value | paginate: {itemsPerPage: 30, currentPage: p[i]}">{{ x.ShipName }}</li></td>
            <td><li *ngFor="let x of boatInfo.value | paginate: {itemsPerPage: 30, currentPage: p[i]}">{{ x.ShipCallSign }}</li></td>
            <td><li *ngFor="let x of boatInfo.value | paginate: {itemsPerPage: 30, currentPage: p[i]}">{{ x.MMSINumber }}</li></td>
        </tr>
        </tbody>
        <pagination-controls (pageChange)="p[i] = $event"></pagination-controls> 

        

        </table>


    
    <h3>Tiedot ovat Traficomin avointa dataa, päivittyy kerran vuorokaudessa.</h3>

<!-- (FOR TESTING)
<table>
    <tbody *ngFor="let x of boatInfo.value" >
      <tr>
        <td >{{x.ID}}</td>
        <td >{{x.MMSINumber}}</td>
        <td >{{x.ShipName}}</td>
        <td >{{x.ShipCallSign}}</td>
      </tr>
    </tbody>
  </table>
-->
</section>