/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.green-snackbar {
    color: white;
}
.green-snackbar button {
    background-color: rgb(41, 1, 40);
    border-bottom: 2px hotpink solid;
    border-radius: none;
}